/*================================ RESET ================================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1E1E20;
  font-family: sans-serif;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

::-webkit-scrollbar {
    width: 7px;
    background-color:  #44444442;
  }
    
  ::-webkit-scrollbar-thumb {
    background-color: #050607;
    border-radius: 5px; 
  }  

/*================================ END ================================ */

header {
    position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 60px;
  background: #1e1e20;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  border-bottom: 1px solid #44444442;
}

.logo img {
  height: 55px;
  margin10px
  object-fit: cover;
}

nav ul {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

ul li a {
    font-weight: 600;
    font-size: 0.95rem;
    color: #f2f2f2;
    transition: all 0.5s;
}

ul li a:hover {
  color: #2CC887;
}
  
main {
  
}

#hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blur {
  display: flex;
  justify-content: center;
  background-color: #2CC887;
  filter: blur(70px);
  border-radius: 100%;
  transform: rotate(-20deg);
  position: absolute;
  width: 100px;
  height: 100px;
  left: 1%;
  z-index: 9;
  top: 5%;
  animation: floating 5s infinite ease-in-out;
}
.blur2 {
  display: flex;
  justify-content: center;
  background-color: #2CC887;
  filter: blur(50px);
  border-radius: 100%;
  transform: rotate(-20deg);
  position: absolute;
  width: 50px;
  height: 50px;
  left: 30%;
  top: 80%;
  animation: floating 5s infinite ease-in-out;
}
.blur3 {
  display: flex;
  justify-content: center;
  background-color: #2CC887;
  filter: blur(10px);
  border-radius: 100%;
  transform: rotate(-20deg);
  position: absolute;
  width: 20px;
  height: 20px;
  left: 85%;
  top: 59%;
  animation: floating 9s infinite ease-in-out;
}
.blur4 {
  display: flex;
  justify-content: center;
  background-color: #2CC887;
  filter: blur(10px);
  border-radius: 100%;
  transform: rotate(-20deg);
  position: absolute;
  width: 20px;
  height: 20px;
  left: 8%;
  top: 79%;
  animation: floating 10s infinite ease-in-out;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 50px;
}

.hero .icons span {
  color: #f2f2f2;
  font-size: 2rem;
}

.hero .icons img {
  height: 60px;
}

.hero h1 {
  font-size: 2.8rem;
  color: #f2f2f2;
  line-height: 40px;
  word-spacing: 0.2rem;
}

.hero p {
  font-size: 1.125rem;
  color: #f2f2f2;
  line-height: 60px;
  word-spacing: 0.2rem;
}

.hero button {
  font-size: 1rem;
  color: #f2f2f2;
  font-weight: 600;
  border-radius: 30px;
  background-color: #44444442;
  border: 1px solid #44444442;
  word-spacing: 0.2rem;
  padding: 10px 32px;
  cursor: pointer;
  transition: all .5s;
}

.hero button:hover {
  background-color: transparent;
}



#about {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px 50px;
}

.about {
  width: 60%;
}

.about h2 {
  font-size: 2.3rem;
  color: #f2f2f2;
  margin-bottom: 30px;
  word-spacing: 0.2rem;
}

.about p {
  font-size: 1rem;
  color: #f2f2f2;
  line-height: 22px;
  word-spacing: 0.2rem;
  margin-bottom: 10px;
  font-weight: 500;
}

#about .blur {
  display: flex;
  justify-content: center;
  background-color: #2CC887;
  filter: blur(50px);
  border-radius: 100%;
  transform: rotate(-20deg);
  position: absolute;
  width: 90px;
  height: 80px;
  left: -3%;
  top: 170%;
}


#services {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px 50px;
}

.services {
  display: flex;
  flex-direction: column;
}


.services h2 {
  font-size: 2.3rem;
  color: #f2f2f2;
  margin-bottom: 30px;
  word-spacing: 0.2rem;
}

.services p {
  font-size: 1rem;
  color: #f2f2f2;
  line-height: 22px;
  word-spacing: 0.2rem;
  margin-bottom: 10px;
  font-weight: 500;
}

.services .card-container {
  display: flex;
  column-gap: 5rem;
  row-gap: 2rem;
  margin-top: 40px;
  width: 100%;
}

.services .card-container .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px !important;
  padding-bottom: 40px !important;
  padding: 20px;
  border: 1px solid #44444442;
  border-radius: 10px;
  height: 300px;
  transition: all 0.9s;
  cursor: pointer;
  width: 340px;
}

.services .card-container .card:hover {
  border: 1px solid #2CC887;
}

.services .card-container .card span {
  font-weight: bold;
  font-size: 0.99rem;
  color: #2CC887;
  margin: 20px 0px;
}

.services .card-container .card p {
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
  color: #97979e;
  text-align: center;
}
.services .card-container .card img {
  height: 50px;
}


#comments {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 50px;
  padding-top: 100px !important;
  padding-bottom: 150px;
}

.comments {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 2rem;
  row-gap: 2rem;
  padding-top: 20px;
  z-index: 11111111;
}


#comments h2 {
  font-size: 2.3rem;
  color: #f2f2f2;
  margin-bottom: 30px;
  word-spacing: 0.2rem;
  z-index: 1111111111;
}

.comment {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  height: 200px;
  transition: all 0.9s;
}

.comment div {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.comment img {
  height: 45px;
  border-radius: 100%;
}

.comment p {
  font-size: 14.3px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
  color: #97979e;
  margin-bottom: 20px;
  font-style: italic;
}

.comment span {
  font-size: 13px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
  color: #DFDFD6;
  cursor: pointer;
}


#contact {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px 50px;
}

.contact {
  display: flex;
  flex-direction: column;
}

.contact h2 {
  
  font-size: 2.3rem;
  color: #f2f2f2;
  margin-bottom: 30px;
  word-spacing: 0.2rem;
}

.contact p {
  font-size: 1rem;
  color: #f2f2f2;
  line-height: 22px;
  word-spacing: 0.2rem;
  margin-bottom: 10px;
  font-weight: 500;
}


form {
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 0.5rem;
  padding-top: 20px;
}

form input {
  height: 55px;
  padding: 0 10px;
  border-radius: 6px;
  border: 1px solid #44444442;
  background-color: transparent;
  outline: none;
  color: #f2f2f2;
  font-size: 0.90rem;
  font-weight: 600;
}

form textarea {
  padding: 10px 10px;
  border-radius: 6px;
  border: 1px solid #44444442;
  background-color: transparent;
  outline: none;
  height: 80px;
  color: #f2f2f2;
  font-size: 0.90rem;
  font-weight: 600;
}

form button {
  height: 40px;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.88rem;
  font-weight: 600;
  background-color: #2CC887;
}

#contact .blur {
  display: flex;
  justify-content: center;
  background-color: #2CC887;
  filter: blur(50px);
  border-radius: 100%;
  transform: rotate(-20deg);
  position: absolute;
  width: 80px;
  height: 80px;
  left: 70%;
  z-index: 9;
  top: 430%;
  animation: floating 5s infinite ease-in-out;
}

#contact .blur2 {
  display: flex;
  justify-content: center;
  background-color: #2CC887;
  filter: blur(40px);
  border-radius: 100%;
  transform: rotate(-20deg);
  position: absolute;
  width: 80px;
  height: 80px;
  left: 80%;
  z-index: 9;
  top: 450%;
  animation: floating 5s infinite ease-in-out;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #44444442;
  padding: 30px 0;
}

.footer {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #f2f2f2;
  font-weight: 300;
  font-size: 0.88rem;
}


@keyframes floating {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -50px);
  }
  100% {
    transform: translate(0, 0);
  }
}

#hero2 {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/assets/images/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#hero2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}

@keyframes slideshow {
  0% { background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/assets/images/bg1.jpg"); }
  25% { background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/assets/images/bg2.jpg"); }
  50% { background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/assets/images/bg3.jpg"); }
}

#hero2 {
  animation: slideshow 15s infinite;
}


.hero2 h1 {
  font-size: 2.8rem;
  color: #f2f2f2;
  line-height: 40px;
  word-spacing: 0.2rem;
}

.hero2 p {
  font-size: 1.125rem;
  color: #f2f2f2;
  line-height: 60px;
  word-spacing: 0.2rem;
}

.hero2 button {
  font-size: 1rem;
  color: #f2f2f2;
  font-weight: 600;
  border-radius: 30px;
  background-color: #44444442;
  border: 1px solid #44444442;
  word-spacing: 0.2rem;
  padding: 10px 32px;
  cursor: pointer;
  transition: all .5s;
}

.hero2 button:hover {
  background-color: transparent;
}
