/*================================ RESET ================================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1E1E20;
  font-family: sans-serif;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

::-webkit-scrollbar {
    width: 7px;
    background-color:  #44444442;
  }
    
  ::-webkit-scrollbar-thumb {
    background-color: #050607;
    border-radius: 5px; 
  }  

/*================================ END ================================ */

header {
    position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 60px;
  background: #1e1e20;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  border-bottom: 1px solid #44444442;
}

.logo h3 {
  color: #f2f2f2;
}

nav ul {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

ul li a {
    font-weight: 600;
    font-size: 0.95rem;
    color: #f2f2f2;
    transition: all 0.5s;
}

ul li a:hover {
  color: #2CC887;
}
  
main {
  padding: 0px 50px;
}

#hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blur {
  display: flex;
  justify-content: center;
  background-color: #2CC887;
  filter: blur(70px);
  border-radius: 100%;
  transform: rotate(-20deg);
  position: absolute;
  width: 100px;
  height: 100px;
  left: 1%;
  z-index: 9;
  top: 5%;
  animation: floating 5s infinite ease-in-out;
}
.blur2 {
  display: flex;
  justify-content: center;
  background-color: #2CC887;
  filter: blur(50px);
  border-radius: 100%;
  transform: rotate(-20deg);
  position: absolute;
  width: 50px;
  height: 50px;
  left: 30%;
  top: 80%;
  animation: floating 5s infinite ease-in-out;
}
.blur3 {
  display: flex;
  justify-content: center;
  background-color: #2CC887;
  filter: blur(10px);
  border-radius: 100%;
  transform: rotate(-20deg);
  position: absolute;
  width: 20px;
  height: 20px;
  left: 85%;
  top: 59%;
  animation: floating 9s infinite ease-in-out;
}
.blur4 {
  display: flex;
  justify-content: center;
  background-color: #2CC887;
  filter: blur(10px);
  border-radius: 100%;
  transform: rotate(-20deg);
  position: absolute;
  width: 20px;
  height: 20px;
  left: 8%;
  top: 79%;
  animation: floating 10s infinite ease-in-out;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 50px;
}

.hero .icons span {
  color: #f2f2f2;
  font-size: 2rem;
}

.hero .icons img {
  height: 60px;
}

.hero h1 {
  font-size: 2.8rem;
  color: #f2f2f2;
  line-height: 40px;
  word-spacing: 0.2rem;
}

.hero p {
  font-size: 1.125rem;
  color: #f2f2f2;
  line-height: 60px;
  word-spacing: 0.2rem;
}

.hero button {
  font-size: 1rem;
  color: #f2f2f2;
  font-weight: 600;
  border-radius: 30px;
  background-color: #44444442;
  border: 1px solid #44444442;
  word-spacing: 0.2rem;
  padding: 10px 32px;
  cursor: pointer;
  transition: all .5s;
}

.hero button:hover {
  background-color: transparent;
}



#about {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.about {
  width: 60%;
}

.about h2 {
  font-size: 2.3rem;
  color: #f2f2f2;
  margin-bottom: 30px;
  word-spacing: 0.2rem;
}

.about p {
  font-size: 1rem;
  color: #f2f2f2;
  line-height: 22px;
  word-spacing: 0.2rem;
  margin-bottom: 10px;
  font-weight: 500;
}

#about .blur {
  display: flex;
  justify-content: center;
  background-color: #2CC887;
  filter: blur(50px);
  border-radius: 100%;
  transform: rotate(-20deg);
  position: absolute;
  width: 90px;
  height: 80px;
  left: -3%;
  top: 170%;
}


#services {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.services {
  display: flex;
  flex-direction: column;
}


.services h2 {
  font-size: 2.3rem;
  color: #f2f2f2;
  margin-bottom: 30px;
  word-spacing: 0.2rem;
}

.services p {
  font-size: 1rem;
  color: #f2f2f2;
  line-height: 22px;
  word-spacing: 0.2rem;
  margin-bottom: 10px;
  font-weight: 500;
}

.services .card-container {
  display: flex;
  column-gap: 5rem;
  row-gap: 2rem;
  margin-top: 40px;
  width: 100%;
}

.services .card-container .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px !important;
  padding-bottom: 40px !important;
  padding: 20px;
  border: 1px solid #44444442;
  border-radius: 10px;
  height: 300px;
  transition: all 0.9s;
  cursor: pointer;
  width: 340px;
}

.services .card-container .card:hover {
  border: 1px solid #2CC887;
}

.services .card-container .card span {
  font-weight: bold;
  font-size: 0.99rem;
  color: #2CC887;
  margin: 20px 0px;
}

.services .card-container .card p {
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
  color: #97979e;
  text-align: center;
}
.services .card-container .card img {
  height: 50px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -50px);
  }
  100% {
    transform: translate(0, 0);
  }
}