/*================================ RESET ================================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1E1E20;
  font-family: sans-serif;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

::-webkit-scrollbar {
    width: 7px;
    background-color:  #44444442;
  }
    
  ::-webkit-scrollbar-thumb {
    background-color: #050607;
    border-radius: 5px; 
  }  

/*================================ END ================================ */

header {
    position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 60px;
  background: #1e1e20;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  border-bottom: 1px solid #44444442;
}

nav ul {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

ul li a {
    font-weight: 600;
    font-size: 0.95rem;
    color: #f2f2f2;
    transition: all 0.5s;
}
  
main {
  padding: 0px 50px;
}

#hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 50px;
}

.hero .icons span {
  color: #f2f2f2;
  font-size: 2rem;
}

.hero .icons img {
  height: 70px;
}

.hero h1 {
  font-size: 2.8rem;
  color: #f2f2f2;
  line-height: 40px;
  word-spacing: 0.2rem;
}

.hero p {
  font-size: 1.125rem;
  color: #f2f2f2;
  line-height: 60px;
  word-spacing: 0.2rem;
}

.hero button {
  font-size: 1rem;
  color: #f2f2f2;
  font-weight: 600;
  border-radius: 30px;
  background-color: #44444442;
  border: 1px solid #44444442;
  word-spacing: 0.2rem;
  padding: 10px 32px;
  cursor: pointer;
  transition: all .5s;
}

.hero button:hover {
  background-color: transparent;
}